* {
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 15px;
  gap: 40px;
  background: #222;
  padding: 20px;
  align-items: center;
  height: 35px;
  font-weight: bold;
  font-size: 16px;
}
.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #00bcd4;
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #222;
  min-width: 180px;
  padding-top: 5px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
  background: #6c6c6c;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page {
  padding: 20px;
}

.outlet-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}
